<!DOCTYPE html>

<html>

<head>
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        {{>header}}
        <div class = "main-content">
        <p>This site was created by Sakari Heino.</p> 
        <p>It uses data from weatherStack.com and</p> 
        <p> mapbox.com </p>
        <img class="portrait" src="img\IMG_0303.jpg">
        </div>
        {{>footer}}
</body>



</html>